/* Estilo general del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Bloquea el scroll */
}

/* Estilo del contenedor principal del juego */
#contenedor {
    position: relative;
    margin: 50px auto;
    width: 400px; /* Ajusta el tamaño para que el ranking quede afuera */
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
}

/* Estilo del canvas del juego */
canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
    background-color: #000;
}

/* Estilo de la puntuación */
.puntuacion {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilo del ranking */
.ranking {
    position: absolute;
    top: 50%;
    right: -200px; /* Ajusta la posición a la derecha del contenedor */
    transform: translateY(-50%);
    width: 180px; /* Ancho del ranking */
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    text-align: left;
}

/* Estilo del título del ranking */
.ranking h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Estilo de los elementos individuales del ranking */
.ranking-item {
    margin-bottom: 5px;
}

.btnestilo{
    width: 200px;
    color: black;
    background-color: #eeff00;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btnestilo:hover{
    background-color: #ff9900;
}

img{
    justify-items: center;
    width: 50%;
}
