*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: url(imagen/Fondo\ de\ pantalla.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor{
    width: 900px;
    height: 90%;
    background-color: rgba(0,0,0,.7);
    border-radius: 30px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

img{
    width: 150px;
    border-radius: 15px;
    display: flex;
    margin: 40px;
   
}

.contenedor-de-enlaces{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.elemento-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.left{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: span 2;
}

.p1{
    margin-bottom: 20px;

}

hr{
    width: 500px;
}

.btnestilo{
    width: 200px;
    color: black;
    background-color: #00aeffbb;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btnestilo:hover{
    background-color: #fffb00;
}

.nombre1{
    text-align: center;
    padding: 10px;
    font-style:unset;
    font-size:medium;
}

a{
    color: black;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}



